.dialog{
    border: 2px solid green;
    border-radius: 5px;
    float:left
}

.pictures{
    float: right
}

.dialogError{

    border: 2px solid red;
    border-radius: 5px;
    /* float:left; */
    background-color:lightcoral;
}
