.dialog{
    border: 2px solid green;
    border-radius: 5px;
    float:left;
    margin: 1%;
}

.pictures{
    flex-direction: column;
    float: left;
    /* width: 30%; */
    height: 150px;
    border: 7px solid green;
    border-radius: 5px;
    margin: 10px;
}

.dialogError{

    border: 2px solid red;
    border-radius: 5px;
    /* float:left; */
    background-color:lightcoral;
}

img {
    width: 100px;
    height: auto;
}

.leftSide{
    margin: 5px;
    float: right;
    width: 50%;


}

.btn{
    display: inline;
}

.caption{
    font-size: medium;
    text-align: center;
    margin: 1px;
}